@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
    padding-top: 5%;
    background-color: #e6e5e1;
    font-family: Montserrat;
    color: black;
    font-size: 14px;
}

.name {
    font-size: 30px;
}

.sidebar {
    display: flex;
    flex-direction: column;
    float:left; 
    width:20%; 
    text-align: left; 
    padding-left: 2%;
    height: 100vh;
}

.sidebar ul {
    font-size: 16px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    line-height: 7px;
}

.sidebar ul li {
    margin: 10px 0;
    padding: 5px;
}

.sidebar a {
    text-decoration: none;
    color: black;
}